* {
    /*box-sizing: border-box;*/
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 50px;
    background-color: #a788ab;
    text-align: center;
    justify-content: space-evenly;
}
nav {
    display: flex;
    flex-direction: row;
    background-color: #333;
    justify-content: center;
}
nav a {
    /*Tipo de texto*/
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    /*^*/
    color: #a788ab;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
}
.parte {  
    display: flex;
    flex-wrap: wrap;
}
section {
    flex: 70%;
    background-color: #6a9eda;
    padding: 20px;
}
footer {
    padding: 20px;
    text-align: center;
    background-color: #e2e37e;
}
@media screen and (max-width: 700px) {
    nav, .parte {
        flex-direction: column;
    }
}
/*Imagenes*/
.imagen{
    border: solid 5px #b2dafa;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 400px;
    box-shadow: 6px 20px 10px #3c74af;
}
.imagenflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.imagenflex img{
    width: 350px;
    height: 350px;
    margin: 10px;
    border: solid 10px #b2dafa;
    flex: auto;
    box-shadow: 25px 20px 10px #3c74af;
}
/*Textos*/
.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
/*Botones y Label Admin*/
#cont-btn{
    text-align: center;
    margin-right: 3em;
}
.boton{
    background-color: #6a9eda;
    border: none;
    font-size: 2em;
    color: black;
    border-radius: .2em;
    padding: 0.25em;
    margin: 0.5em 0 1em 1em;
}
.labelAdmin{
    font-size: 2em;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.inputAdmin{
    height: 2em;
    width: auto;
    font-size: 1em;
}

/*productos Diseño*/
.prod-flex{
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    width: 100%;
    height: auto;
    justify-content:center;
}
.prod-flex img{
    display: flex;
    flex:content;
    height: 300px;
    width: 300px;
    padding: .3em;
}
.flex-container{
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    background-color: #a788ab;
    padding: 20px;
    border-radius: 10px;
}
.row{
    display:grid;
    grid-template-columns: repeat(2, 1fr); 
    display: flex;
    flex-direction: row;
    margin: 0 0;
}
@media screen and (min-width: 1200px){
    .row{
        display:grid;
        grid-template-columns: repeat(3, 1fr); 
        /*display: flex;
        flex-direction: row;*/
        margin: 0 0;
    }
}
