*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/img/ladrillo-luz-neon.webp);
    background-size: cover;
}

#contenedor{
    margin: 10em;
    height: 600px;
    width: 900px;
    background-color: #a788ab;
}

#cabecera{
    height: 15%;
    background-color: #6a9eda;
    border: 15px solid #332f2c;
    border-bottom: 0;
}
#cabecera header{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1.0em;
}

#contenido{
    border: 15px solid #332f2c;
    border-bottom: 0;
    border-top: 0;
    height: 60%;
    background-color: #a788ab;
}
#contenido label{
    margin: 1.3em;
    padding: 0.2em;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#contenido input{
    margin: 1.1em;
    padding: 0.2em;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
#contenido button{
    margin: 1.0em;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#pie{
    border: 15px solid #332f2c;
    border-top: 0;
    height: 25%;
    background-color: #6a9eda;
    box-shadow: 0px 20px 50px #2e42b3;
}
#pie button{
    margin: 1.0em;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}