/*paleta de colores
https://colorhunt.co/palette/fad9e6e4aec55f7464243d25
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    margin: .6em;
    text-align: center;
    font-size: 3em;
}
h2 {
    font-size: 2.8em;
}
h3{
    margin: .6em;
    text-align: center;
    font-size: 2.3em;
}
body{
    background-color: rgb(250, 217, 230);
}
#contenedor{
    display: inline;
    flex-flow: column wrap;
    width: auto;
    height: auto;
    background-color: rgb(250, 217, 230);
    border-radius: 10px;
    min-width: 800px;
}
#head{
    padding: 0.2em;
    background-color: rgb(95, 116, 100);
    border-radius: 0 0 50px 50px;
}
#nav{
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(228, 174, 197);
}

.contNav{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.lista{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 0;
}
.row{
    display:grid;
    grid-template-columns: repeat(2, 1fr); 
    /*display: flex;
    flex-direction: row;*/
    margin: 0 0;
}

@media (min-width: 1200px) {
    .contNav {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .contact-flex{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .row{
        display:grid;
        grid-template-columns: repeat(3, 1fr); 
        /*display: flex;
        flex-direction: row;*/
        margin: 0 0;
    }
    .lista{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 0;
    }
}

#nav a{
    text-decoration: none;
    color: rgb(88, 104, 92);
    padding: .5em;
}

#nav a:hover {
    color: rgb(253, 98, 165);
}

#foot{
    display: flex;
    flex-flow: column wrap;
    background-color: rgb(95, 116, 100);
    text-align:right;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 50px 50px 0 0;
    margin:  0em 0em;
    color: black;
    padding: 1.76em;
}
#cont-btn{
    text-align: center;
    margin-right: 3em;
}
.boton{
    background-color: rgb(123, 146, 221);
    border: none;
    font-size: 2em;
    color: black;
    border-radius: .2em;
    padding: 0.25em;
    margin: 0.5em 0 1em 1em;
}
.labelAdmin{
    font-size: 2em;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.inputAdmin{
    height: 2em;
    width: auto;
    font-size: 1em;
}
.flex-container{
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    background-color:rgb(250, 217, 230);
    padding: 10px;
    border-radius: 10px;
}
.text-flex{
    display:flex;
    flex-flow: column wrap;
    align-content: stretch;
    align-items: center;
    width: 100%;
    height: 30%;
}
.text-flexContact{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 800px;
    height: 500px;
}
.text-flex h4{
    display: flex;
    font-size: 35px;
    text-align: justify;
    width: 100%;
    padding: 1.5em;
}
.registro h2{
    display: flex;
    font-size: 35px;
    text-align: justify;
    width: 100%;
    padding: 1.5em;
}
.fleximg{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
}
.contactform{
    display:flex;
    flex-flow: row wrap;
    align-content: stretch;
    align-items: left;
    width: 800px;
    height: 100%;
}
.text-flexContact img{
    width: 200px;
    height: 210px;
    padding: 1.5em;
}
.text-flexContact h4{
    font-size: 35px;
    text-align: justify;
    text-indent: 2.3em;
    width: 79.9%;
    padding: 1.5em;
}
.text-flex a{
    text-decoration: none;
    color: rgb(173, 119, 119);
}
.text-flex a:hover{
    color: rgb(253, 98, 165);
}
.img-text{
    display: flex;
    flex-flow: column no    wrap;
    align-content:stretch;
    width: 550px;
    height: 500px;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
}
.img-flex{
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    width: 100%;
    height: 40%;
    justify-content:center;
}
.contact-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    height: auto;
}
.prod-flex{
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    width: 100%;
    height: auto;
    justify-content:center;    
}
.prod-flex img{
    display: flex;
    flex:content;
    height: 300px;
}
.imgprod{
    display: flex;
    flex-flow: column  nowrap;
    align-content:space-between;
    width: 400px;
    height: 350px;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    font-size: 2em;
}
.imgprod img{
    flex:content;
    height: 230px;
    width: 230px;
    align-items: center;
}
.img{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    width: 750px;
    height: 700px;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
}
.img img{
    flex:content;
    height: 700px;
}
.img-flexSec{
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    width: 100%;
    height: 410px;
    justify-content:center;
}
.imgSec{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    width: 350px;
    height: 390px;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
}
.imgSec img{
    flex: content;
    height: 300px;
}
.imgSec h2{
    font-size: 2em;
}
